<mat-toolbar color="primary">
  <!--button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button-->
  <span>CultureStudio</span>

  <input
    type="text"
    placeholder="Search..."
    class="search-input"
    (keydown)="onChangeSearch($event)"
  />
  <span class="example-spacer"></span>
  <!--button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button-->
  <button mat-icon-button class="example-icon" aria-label="Order by">
    <mat-icon [matBadge]="" [matBadgeHidden]="" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>
